.header{
	background-color: #1a1a1a;
	height: 10%;
}
.title{
	margin: 0px;
	color: white;
}
nav{
	background-color: #333333;
/*	position: fixed;*/
	z-index: 10;
}
.center{
	position: center;
}
.img1{
	position: relative;
    width: 100%;
    height: 650px;
	background: url(/img/pokemonGo.jpg) no-repeat center center scroll;
}
.img2{
	height: 100%;
	width: 100%;
	margin-top: 10%;
}
.box1{
	width: 40%;
	float: left;
}
.box2{
	width: 45%;
	float: right;
	/*margin-left: 10%;*/
}
.img3{
	position: static;
    width: 100%;
    height: 650px;
	background: url(/img/street.jpg) no-repeat center center scroll;
	margin-top: 400px;
}